#name
{
  color: $blue;
  text-align: center;
  font-family: 'Lora', serif;
}

#headshot
{
    border-radius: 50%;
    width: 20rem;
    border:0;
    vertical-align: middle;
}
/*Media Queries*/ 
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) 
{
  #name
  {
    font-size: 5rem;
  }
}
/* Nexus 7 */ 
@media only screen and (min-width : 600px) 
{
  #name
  {
    font-size: 8rem;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) 
{
  #name
  {
    font-size: 10rem;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) 
{
  #name
  {
    font-size: 10rem;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) 
{
  #name
  {
    font-size: 10rem;
  }
}