$blue: #00AEEF;

nav#navbar 
{
  text-align: center;
  border-top: 1px solid #FFFFFF;
  padding-top: 1em;
  position: absolute;
  bottom: 1rem;
}

nav a 
{
  color: #FFFFFF;
  text-decoration: none;
  padding-top:1em; 
  padding-right: 0.5em;
}

nav a:hover {
    color: white;
    border-top: solid white 3px;
    text-decoration: none;

}

nav a:focus {
    color: #00AEEF;
    border-top: solid #00AEEF 3px;
    text-decoration: none;
}

/*Media Queries*/ 
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) 
{}
/* Nexus 7 */ 
@media only screen and (min-width : 600px) 
{}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) 
{
  #navbar.col-sm-4 
  {
    margin-left: 33.3333333333%; 
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) 
{
  #navbar.col-md-3 
  {
   margin-left: 37.5%; 
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) 
{
  #navbar.col-lg-2
  {
    margin-left: 41.6666666667%; 
    min-width: 230px;
  }
}