@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; 
    background: rgba($color, $opacity);
}
#projects {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    float: left;
}

ul#projects {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#projects li {
    position: relative;
    float: left;
}
.project__overlay_hide
{
    display:none;
}
.project__overlay_show
{
    color: #000;
    display:block;
    @include background-opacity(#FFF, 0.8)
    position: absolute;
    bottom: 0em;
    text-align: center;
    overflow: hidden;
    width: 100%;
    animation-duration: 1s;
    animation-fill-mode: both;
}

img.project__image
{
    width:100%;
    height:auto;
}



/*Media Queries*/ 
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) 
{
    #projects li 
    {
        width: 100%
    }
}
/* Nexus 7 */ 
@media only screen and (min-width : 600px) 
{
    #projects li 
    {
        width: 50%;
        width: calc(100% / 2);
    }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) 
{
    #projects li 
    {
        width: 25%;
        width: calc(100% / 4);
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) 
{
    #projects li 
    {
        width: 16.6666667%;
        width: calc(100% / 6);
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) 
{
    #projects li 
    {
        width: 12.5%;
        width: calc(100% / 8);
    }
}