#social__container
{
    margin-top: 3rem;
    margin-bottom:3rem;
}
.social__icon 
{
     display             : inline-block;
     width               : 3em;
     height              : 3em;
     transition-duration : 0.3s;
     transition-property : transform;
     transform           : translateZ(0);
     box-shadow          : 0 0 1px rgba(0, 0, 0, 0);
 }
 .social__icon:hover
 {
     transform       : translateY(10px);
 }