$white:  #ffffff;
$twitter: #6ecbef;
$linkedin: #5cacdf;
$black: #000000;
$bitbucket: #205081;

@mixin stroke($color)
{
    stroke: $color;
    fill: none;  stroke-miterlimit: 10;
    stroke-width: 5px;
}

@mixin shade($color)
{   
    fill: $color;
    fill-opacity: 0.5;
}

/* Shades */
.bitbucket-shade { @include shade($bitbucket); }
.git-shade       { @include shade($white);     }
.twitter-shade   { @include shade($twitter);   }
.linkedin-shade  { @include shade($linkedin);  }
/* Frames */
.bitbucket-frame { @include stroke($bitbucket);}
.twitter-frame   { @include stroke($twitter);  }
.git-frame       { @include stroke($white);    }
.linkedin-frame  { @include stroke($linkedin); }
/* Fills */
.white-fill     { fill: $white;               }
.git-black      { fill: $black;               }
svg             { display:none;               }